[Desktop Action explorer]
Exec="/usr/bin/lutris-wine" -explorer %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Explorer
Name[ru_RU]=Рабочий стол

[Desktop Action cmd]
Exec="/usr/bin/lutris-wine" -cmd %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Open in CMD
Name[ru_RU]=Открыть в CMD

[Desktop Action shell]
Exec="/usr/bin/lutris-wine" -shell %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Open in SHELL
Name[ru_RU]=Открыть в SHELL

[Desktop Action regedit]
Exec="/usr/bin/lutris-wine" -regedit %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Registry editor
Name[ru_RU]=Редактор реестра

[Desktop Action control]
Exec="/usr/bin/lutris-wine" -control %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Control panel
Name[ru_RU]=Панель управления

[Desktop Action winecfg]
Exec="/usr/bin/lutris-wine" -winecfg %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Wine settings
Name[ru_RU]=Настройки Wine

[Desktop Action taskmgr]
Exec="/usr/bin/lutris-wine" -taskmgr %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Task manager
Name[ru_RU]=Диспетчер задач

[Desktop Action winemgr]
Exec="/usr/bin/lutris-wine" -winemgr
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Wine manager
Name[ru_RU]=Wine менеджер

[Desktop Action uninstaller]
Exec="/usr/bin/lutris-wine" -uninstaller %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Wine uninstaller
Name[ru_RU]=Устан/удал программ

[Desktop Action winetricks]
Exec="/usr/bin/lutris-wine" -winetricks %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Winetricks
Name[ru_RU]=Winetricks

[Desktop Action openpfx]
Exec="/usr/bin/lutris-wine" -openpfx %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Open drive C:\\
Name[ru_RU]=Открыть диск C:\\

[Desktop Action killwine]
Exec="/usr/bin/lutris-wine" -killwine %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Kill Wine processes
Name[ru_RU]=Убить процессы Wine

[Desktop Action killtray]
Exec="/usr/bin/lutris-wine" -killtray
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Kill tray
Name[ru_RU]=Убить трей

[Desktop Action killexe]
Exec="/usr/bin/lutris-wine" -killexe %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Kill running EXE
Name[ru_RU]=Убить запущенные EXE

[Desktop Action killshell]
Exec="/usr/bin/lutris-wine" -killshell
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Kill SHELL
Name[ru_RU]=Убить SHELL

[Desktop Action clearpfx]
Exec="/usr/bin/lutris-wine" -clearpfx %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Clear prefix
Name[ru_RU]=Очистить префикс

[Desktop Action debug]
Exec="/usr/bin/lutris-wine" -debug %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=DEBUG
Name[ru_RU]=ДЕБАГ

[Desktop Action shortcut]
Exec="/usr/bin/lutris-wine" -shortcut %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Create shortcut
Name[ru_RU]=Cоздать ярлык

[Desktop Action addtolu]
Exec="/usr/bin/lutris-wine" -addtolu %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Add to Lutris
Name[ru_RU]=Добавить в Lutris

[Desktop Action rmapp]
Exec="/usr/bin/lutris-wine" -rmapp %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Remove menu app
Name[ru_RU]=Удалить приложение из меню

[Desktop Action tray]
Exec="/usr/bin/lutris-wine" -tray noclose
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Tray
Name[ru_RU]=Трей

[Desktop Action exit]
Exec="/usr/bin/lutris-wine" -exit %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Force exit
Name[ru_RU]=Закрыть всё

[Desktop Action update]
Exec="/usr/bin/lutris-wine" -update openupdtr
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Update runtime
Name[ru_RU]=Обновление рантайм

[Desktop Action help]
Exec="/usr/bin/lutris-wine" -help
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Usage info
Name[ru_RU]=Использование

[Desktop Action version]
Exec="/usr/bin/lutris-wine" -version %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Version info
Name[ru_RU]=Версия

[Desktop Action config]
Exec="/usr/bin/lutris-wine" -config %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Settings
Name[ru_RU]=Настройки

[Desktop Action appcfg]
Exec="/usr/bin/lutris-wine" -appcfg
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Apps settings
Name[ru_RU]=Настройки приложений

[Desktop Action init]
Exec="/usr/bin/lutris-wine" -init %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Forced initialization
Name[ru_RU]=Принудительная инициализация

[Desktop Action pfxbackup]
Exec="/usr/bin/lutris-wine" -pfxbackup %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Create prefix backup
Name[ru_RU]=Создать бекап префикса

[Desktop Action pfxrestore]
Exec="/usr/bin/lutris-wine" -pfxrestore %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Restore prefix from backup
Name[ru_RU]=Восстановить префикс

[Desktop Action backupmnt]
Exec="/usr/bin/lutris-wine" -backupmnt %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Mount prefix backup
Name[ru_RU]=Монтировать бекап префикса

[Desktop Action backupunmnt]
Exec="/usr/bin/lutris-wine" -backupunmnt %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Unmount prefix backup
Name[ru_RU]=Отмонтировать бекап префикса

[Desktop Entry]
Type=Service
Actions=explorer;cmd;shell;regedit;control;winecfg;taskmgr;winemgr;uninstaller;winetricks;openpfx;killwine;killtray;killexe;killshell;clearpfx;debug;shortcut;addtolu;rmapp;tray;exit;update;version;help;config;appcfg;init;pfxbackup;pfxrestore;backupmnt;backupunmnt
Encoding=UTF-8
Name=Lutris Wine
Name[ru_RU]=Lutris Wine
Icon=/usr/share/lutris-wine/icons/default_icon.png
ServiceTypes=all/allfiles;KonqPopupMenu/Plugin
MimeType=all/all;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
X-KDE-Submenu=Lutris Wine
X-KDE-Icon=/usr/share/lutris-wine/icons/default_icon.png
