[Desktop Entry]
Categories=Lux Wine
Exec="/usr/bin/lux-wine" -backupmnt %f
Icon=lw_default_icon
MimeType=application/vnd.squashfs
Name=Mount prefix backup
Name[ru_RU]=Монтировать бекап префикса
NoDisplay=true
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
