[Desktop Entry]
Categories=Lux Wine
Exec="/usr/bin/lux-wine" -debug %f
Icon=/usr/share/lux-wine/icons/lw_default_icon.png
MimeType=application/x-ms-dos-executable;application/x-msdos-program;text/win-bat;application/x-ms-shortcut;text/x-ms-regedit;application/x-msi
Name=DEBUG
Name[ru_RU]=ДЕБАГ
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
