[Desktop Entry]
Categories=Lux Wine
Exec="/usr/bin/lux-wine" -exit %f
Icon=lw_default_icon
MimeType=application/x-ms-dos-executable;application/x-msdos-program;text/win-bat;application/x-ms-shortcut;text/x-ms-regedit;application/x-msi
Name=Force exit
Name[ru_RU]=Закрыть всё
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
Actions=killexe;killwine;killshell;killtray


[Desktop Action killwine]
Exec="/usr/bin/lux-wine" -killwine %f
Icon=lw_default_icon
Name=Kill Wine processes
Name[ru_RU]=Убить процессы Wine

[Desktop Action killtray]
Exec="/usr/bin/lux-wine" -killtray
Icon=lw_default_icon
Name=Kill tray
Name[ru_RU]=Убить трей

[Desktop Action killexe]
Exec="/usr/bin/lux-wine" -killexe %f
Icon=lw_default_icon
Name=Kill running EXE
Name[ru_RU]=Убить запущенные EXE

[Desktop Action killshell]
Exec="/usr/bin/lux-wine" -killshell
Icon=lw_default_icon
Name=Kill SHELL
Name[ru_RU]=Убить SHELL
