[Desktop Entry]
Categories=Lux Wine
Exec="/usr/bin/lux-wine" -explorer %f
Icon=lw_default_icon
MimeType=application/x-ms-dos-executable;application/x-msdos-program;text/win-bat;application/x-ms-shortcut;text/x-ms-regedit;application/x-msi
Name=Wine explorer
Name[ru_RU]=Рабочий стол
NoDisplay=true
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
