[Desktop Entry]
Categories=Lux Wine
Exec="/usr/bin/lux-wine" -help
Icon=lw_default_icon
Name=Usage info
Name[ru_RU]=Использование
NoDisplay=true
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
