[Desktop Entry]
Categories=Lux Wine
Exec="/usr/bin/lux-wine" -killshell
Icon=lw_default_icon
Name=Kill SHELL
Name[ru_RU]=Убить SHELL
NoDisplay=true
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
