[Desktop Entry]
Categories=Lux Wine
Exec="/usr/bin/lux-wine" -killexe %f
Icon=/usr/share/lux-wine/icons/lw_default_icon.png
MimeType=application/x-ms-dos-executable;application/x-msdos-program
Name=Kill running EXE
Name[ru_RU]=Убить запущенные EXE
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
