[Desktop Entry]
Categories=Lutris Wine
Exec="/usr/bin/lutris-wine" -killshell
Icon=/usr/share/lutris-wine/icons/default_icon.png
Name=Kill SHELL
Name[ru_RU]=Убить SHELL
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
