[Desktop Entry]
Categories=Lux Wine
Exec="/usr/bin/lux-wine" %f
Icon=lw_default_icon
MimeType=application/x-ms-dos-executable;application/x-wine-extension-msp;application/x-msi;application/x-msdos-program;text/win-bat;application/x-ms-shortcut;text/x-ms-regedit
Name=Lux Wine
Name[ru_RU]=Lux Wine
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
Actions=debug;tray


[Desktop Action debug]
Exec="/usr/bin/lux-wine" -debug %f
Icon=lw_default_icon
Name=DEBUG
Name[ru_RU]=ДЕБАГ

[Desktop Action tray]
Exec="/usr/bin/lux-wine" -tray noclose
Icon=lw_default_icon
Name=Tray
Name[ru_RU]=Трей
