[Desktop Entry]
Categories=Lux Wine
Exec="/usr/bin/lux-wine" -openpfx %f
Icon=lw_default_icon
MimeType=application/x-ms-dos-executable;application/x-msdos-program;text/win-bat;application/x-ms-shortcut;text/x-ms-regedit;application/x-msi
Name=Drive С:
Name[ru_RU]=Диск С:
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
Actions=pfxbackup;pfxrestore;clearpfx;backupmnt;backupunmnt


[Desktop Action clearpfx]
Exec="/usr/bin/lux-wine" -clearpfx %f
Icon=lw_default_icon
Name=Clear
Name[ru_RU]=Очистить

[Desktop Action pfxbackup]
Exec="/usr/bin/lux-wine" -pfxbackup %f
Icon=lw_default_icon
Name=Create backup
Name[ru_RU]=Создать бекап

[Desktop Action pfxrestore]
Exec="/usr/bin/lux-wine" -pfxrestore %f
Icon=lw_default_icon
Name=Restore from backup
Name[ru_RU]=Восстановить

[Desktop Action backupmnt]
Exec="/usr/bin/lux-wine" -backupmnt %f
Icon=lw_default_icon
Name=Mount backup
Name[ru_RU]=Монтировать бекап

[Desktop Action backupunmnt]
Exec="/usr/bin/lux-wine" -backupunmnt %f
Icon=lw_default_icon
Name=Unmount backup
Name[ru_RU]=Отмонтировать бекап
