[Desktop Entry]
Categories=Lux Wine
Exec="/usr/bin/lux-wine" -openpfx %f
Icon=/usr/share/lux-wine/icons/lw_default_icon.png
MimeType=application/x-ms-dos-executable;application/x-msdos-program
Name=Open drive C:
Name[ru_RU]=Открыть диск C:
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
