[Desktop Entry]
Categories=Lutris Wine
Exec=lutris-wine -rmapp %f
Icon=/usr/share/lutris-wine/icons/default_icon.png
MimeType=application/x-ms-dos-executable;application/x-msdos-program
Name=Remove menu app
Name[ru_RU]=Удалить приложение из меню
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
