[Desktop Entry]
Categories=Lux Wine
Exec="/usr/bin/lux-wine" -shell %f
Icon=/usr/share/lux-wine/icons/lw_default_icon.png
Name=SHELL
Name[ru_RU]=SHELL
NoDisplay=true
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
