[Desktop Entry]
Categories=Lutris Wine
Exec="/usr/bin/lutris-wine" -taskmgr %f
Icon=/usr/share/lutris-wine/icons/lw_default_icon.png
MimeType=application/x-ms-dos-executable;application/x-msdos-program
Name=Task manager
Name[ru_RU]=Диспетчер задач
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
