[Desktop Entry]
Categories=Lutris Wine
Exec=lutris-wine -addtolu
Icon=/usr/share/lutris/media/default_icon.png
MimeType=application/x-ms-dos-executable;application/x-msdos-program
Name=Add to Lutris
Name[ru_RU]=Добавить в Lutris
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
