[Desktop Entry]
Categories=Lutris Wine
Comment=
Exec=lutris-wine cmd
Icon=/usr/share/lutris/media/default_icon.png
Name=Открыть CMD
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
