[Desktop Entry]
Categories=Lutris Wine
Exec=lutris-wine -control
Icon=/usr/share/lutris-wine/icon/default_icon.png
Name=Control panel
Name[ru_RU]=Панель управления
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
