[Desktop Entry]
Categories=Lutris Wine
Exec=lutris-wine %F
Icon=/usr/share/lutris/media/default_icon.png
MimeType=application/x-ms-dos-executable;application/x-wine-extension-msp;application/x-msi;application/x-msdos-program;text/win-bat;application/x-ms-shortcut;text/x-ms-regedit
Name=Wine in Lutris
Name[ru_RU]=Wine в Lutris
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
