[Desktop Entry]
Categories=Lutris Wine
Exec=lutris-wine -rmapp
Icon=/usr/share/lutris/media/default_icon.png
Name=Remove all shortcuts from menu
Name[ru_RU]=Удалить все ярлыки из меню
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
