[Desktop Entry]
Categories=Lutris Wine
Exec=lutris-wine -themesmgr
Icon=/usr/share/lutris-wine/icon/default_icon.png
Name=Themes manager
Name[ru_RU]=Менеджер тем
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
