[Desktop Entry]
Categories=Lutris Wine
Exec=lutris-wine -tray noclose
Icon=/usr/share/lutris/media/default_icon.png
Name=Open Lutris Wine in tray
Name[ru_RU]=Открыть Lutris Wine в трее
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
