[Desktop Action explorer]
Exec=lutris-wine -explorer
Icon=/usr/share/lutris/media/default_icon.png
Name=Wine Explorer
Name[ru_RU]=Рабочий стол

[Desktop Action cmd]
Exec=lutris-wine -cmd "%U"
Icon=/usr/share/lutris/media/default_icon.png
Name=Open in CMD
Name[ru_RU]=Открыть в CMD

[Desktop Action shell]
Exec=lutris-wine -shell "%U"
Icon=/usr/share/lutris/media/default_icon.png
Name=Open in SHELL
Name[ru_RU]=Открыть в SHELL

[Desktop Action regedit]
Exec=lutris-wine -regedit
Icon=/usr/share/lutris/media/default_icon.png
Name=Registry editor
Name[ru_RU]=Редактор реестра

[Desktop Action control]
Exec=lutris-wine -control
Icon=/usr/share/lutris/media/default_icon.png
Name=Control Panel
Name[ru_RU]=Панель управления

[Desktop Action winecfg]
Exec=lutris-wine -winecfg
Icon=/usr/share/lutris/media/default_icon.png
Name=Wine settings
Name[ru_RU]=Настройки Wine

[Desktop Action taskmgr]
Exec=lutris-wine -taskmgr
Icon=/usr/share/lutris/media/default_icon.png
Name=Task Manager
Name[ru_RU]=Диспетчер задач

[Desktop Action uninstaller]
Exec=lutris-wine -uninstaller
Icon=/usr/share/lutris/media/default_icon.png
Name=Add/Remove Programs
Name[ru_RU]=Установка/Удаление программ

[Desktop Action winetricks]
Exec=lutris-wine -winetricks
Icon=/usr/share/lutris/media/default_icon.png
Name=Winetricks
Name[ru_RU]=Winetricks

[Desktop Action openpfx]
Exec=lutris-wine -openpfx
Icon=/usr/share/lutris/media/default_icon.png
Name=Open drive C:\\
Name[ru_RU]=Открыть диск C:\\

[Desktop Action killwine]
Exec=lutris-wine -killwine
Icon=/usr/share/lutris/media/default_icon.png
Name=Kill all Wine processes
Name[ru_RU]=Убить все процессы Wine

[Desktop Action clearpfx]
Exec=lutris-wine -clearpfx
Icon=/usr/share/lutris/media/default_icon.png
Name=Clear prefix
Name[ru_RU]=Очистить префикс

[Desktop Action debug]
Exec=lutris-wine -debug "%U"
Icon=/usr/share/lutris/media/default_icon.png
Name=DEBUG
Name[ru_RU]=ДЕБАГ

[Desktop Action shortcut]
Exec=lutris-wine -shortcut "%U"
Icon=/usr/share/lutris/media/default_icon.png
Name=Create shortcut
Name[ru_RU]=Cоздать ярлык

[Desktop Action rmapp]
Exec=lutris-wine -rmapp
Icon=/usr/share/lutris/media/default_icon.png
Name=Remove Lutris Wine shortcuts from menu
Name[ru_RU]=Удалить Lutris Wine ярлыки из меню

[Desktop Entry]
Type=Service
Actions=shell;cmd;explorer;regedit;control;winecfg;winetricks;taskmgr;uninstaller;openpfx;killwine;clearpfx;debug;shortcut;rmapp
Encoding=UTF-8
Name=Lutris Wine
Name[ru_RU]=Lutris Wine
Icon=/usr/share/lutris/media/default_icon.png
ServiceTypes=all/allfiles;KonqPopupMenu/Plugin
MimeType=all/all;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
X-KDE-Submenu=Lutris Wine
X-KDE-Icon=/usr/share/lutris/media/default_icon.png
